body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}

form {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form > input {
  width: 60%;
  max-width: 400px;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px black;
}

form > button {
  font-size: 18px;
  padding: 10px 10px;
  width: 10%;
  max-width: 100px;
  border-radius: 5px;
  border: none;
  background-color: rgb(49, 180, 49);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form > button:hover {
  background-color: rgb(1, 160, 1);
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
}

.search-result {
  width: 30%;
  /* box-sizing: border-box; */
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  margin-bottom: 50px;
  overflow: hidden;
}

.search-result > img {
  height: 200px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.search-result > img:hover {
  transform: scale(1.05);
}

.search-result > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s ease-in-out;
}

.search-result > a:hover {
  background-color: rgb(230, 229, 229);
}
